{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      "react-hot-loader/babel",
      {
        "minify": true,
        "transpileTemplateLiterals": false
      }
    ]
  ]
}
